@font-face {
    font-family: trajanProBold;
    src: url(/fonts/Trajan\ Pro\ Bold.ttf);
  }

body {
    background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg);
    background-size: cover;
}

#logo {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
}

h2 {
    text-align: center;
    color: white;
    font-family: trajanProBold;
}

// #allBtn {
//     display: flex;
//     justify-content: left;
//     align-items: left;
//     display:inline-block; float:left;
// }

.btn-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: trajanProBold;
    #strBtn {
        display:inline-block; float:left;
    }
    #intBtn {
        display:inline-block; float:none;
    }
    #agiBtn {
        display:inline-block; float:right;
    }
}

.strHero {
    width: 272px;
}
.agiHero {
    width: 272px;
}
.intHero {
    width: 272px;
}
